body {
    background-color: #000000;
}

.ym-light-theme {
    --ym-background-color-primary-enabled-content: #e8e3ff;
    --ym-background-color-secondary-enabled-blur: s#5900ff;
    --ym-background-color-primary-enabled-basic: #ded9f5;
    --ym-background-color-primary-enabled-player: #e8e3ff;
}

.ym-dark-theme {
    --ym-background-color-primary-enabled-content: #060022;
    --ym-background-color-secondary-enabled-blur: s#5900ff;
    --ym-background-color-primary-enabled-basic: #070029;
    --ym-background-color-primary-enabled-player: #060022;
}

.DefaultLayout_content__md70Z {
    border-radius: 10px;
}

/*Плеер*/
.PlayerBar_root__cXUnU {
    grid-template-columns: repeat(1,85%);
    height: -webkit-fill-available;
    min-height: 55%;
    width: 200px;
    -webkit-margin-before: 0px;
    margin-bottom: 8%;
    margin-block-start: 170px;
    border-width: 0;
}

.DefaultLayout_root__7J0wo {
    width: 100%;
    grid-template: 
    "navbar playerbar content"
    "navbar playerbar content" auto/auto 1fr;
    grid-template-columns: fit-content fit-content auto; 
}

.PlayerBarDesktop_infoCard__tnLS6, .PlayerBarDesktop_info__56v53 {
    flex-direction: column;
}

.DefaultLayout_content__md70Z {
    border-radius: 10px;
    grid-area: content;
    position: fixed;
    left: 215px;
    margin-right: 70px;
    top: 37px;
    bottom: 12px;
}

.PlayerBarDesktop_root__d2Hwi {
    border-radius: 0px 10px 10px 0px;
    grid-area: content;
    position: fixed;
    left: 0px;
    right: 12px;
    top: 32px;
    bottom: 1px;
    --player-cover-width: 100%;
    --player-cover-height: 100%;
    justify-content: center;
}

.PlayerBarDesktop_sonata__sJHY_ {
    gap: 30px;
    height: 100px;
}

.PlayerBarDesktop_infoCard__tnLS6 {
    --player-controls-preserved-width: 0px;
    display: flex;
    flex-direction: column;
}

.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv {
    transition: ease-in-out all 0.1s;
    background: #ffffff09;
}

.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv:hover {
    background: #8be8ff1c;
    scale: 1.1;
}

.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv:disabled {
    background: #00000000;
    display: clip;
}

._MWOVuZRvUQdXKTMcOPx {
    opacity: 1;
}

.SonataControlsDesktop_root__oluUH {
    scale: 1;
}

.SHvrm0VRiLVwGqJJjNO8 {
    transition: ease-in-out all 0.1s;
    height: 8px;
    padding: 2px;
    scale: 1;
}

.SHvrm0VRiLVwGqJJjNO8:before {
    height: 6px;
}

.SonataControlsDesktop_sonataButtons__ux0qT {
    gap: 10px;
}

.VibeBlock_root__z7LtR {
    margin-top: 0px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: -webkit-fill-available;
    margin-left: 0px;
    height: 400px;
    min-height: 0px;
}

.MainPage_header__lPh0v {
    overflow: hidden;
    width: -webkit-fill-available;
    margin-left:-16px;
    height: 80px;
}

.Skeleton_headerContainer__pRHVj {
    margin-block-start: -35px;
}

.PinsList_root__LN_2Z {
    display: clip;
    position: fixed;
    height: -webkit-fill-available;
    width: 73px;
    right: -2.6px;
    top: 40px;
    bottom: 15px;
    margin-bottom: 0px;
    z-index: 2;
}

.Content_rootOld__g85_m {
    right: -2px;
}

.NavbarDesktop_user__dzbuH {
    position: absolute;
    bottom: 5px;
    left: -7px;
}

.Xx9Tg5ugzg1pkf8Zh421 {
    margin-top: 15px;
    min-height: 22px;
    max-height: 22px;
}

.DevPanel_panel__LnoO2 {
    backdrop-filter: blur(1000px);
}

body > div > div > button.qU2apWBO1yyEK0lZ3lPO {
    backdrop-filter: blur(1000px);
}

/*ONLY display: none;*/
.MainPage_beta__y32vb,
.YMDRPC,
.NavbarDesktop_logo__Z4jGx,
.Pin_contextMenu__WGmhp,
.Footer_root__ugyur,
.CollectionPage_description__A3dny,
.SonataControlsDesktop_buttonContainer__PczhH,
.mdbxU6IWInQTsVjwnapn,
.Pin_meta__MzX_7,
.NavbarDesktop_logoWrapper__89ce6
/*.kprKZx99igczv4y5NX8O:disabled*/ {
 display: none;
}

.cpeagBA1_PblpJn8Xgtv:after {
    flex-direction: column;
}

.LikesAndHistory_carousel__579RD {
    margin-top: -40px;
    margin-bottom: 13px;
}

body > div > p {
    visibility: hidden;
}

body > div > p:before {
    content: "DiraMusic!";
    position: absolute;
    visibility: visible;
    color: #ff0;
}

.PlayerBarDesktop_meta__6sm58 {
    display: block;
}

.PlayerBarDesktop_meta__6sm58 span{
    display: block;
    width: fit-content;
}

.ChangeVolume_root__HDxtA {
    height: 50px;
    margin-left: 15px;
}

body > div > section > div > button {
    margin-left: 9px;
}

.PlayerBarDesktop_meta__6sm58 {
    margin-left: 9px;
}

.SyncLyricsCard_card__6NmKa {
    position: fixed;
    left: 50px;
    top: 50px;
    background: #fff1;
    padding: 10px;
    border-radius: 10px;
    border-width: 1;
    border-color: #fff2;
    border-style: dotted;
}

[data-test-id="SOUND_QUALITY_BUTTON"] {
    position: fixed;
    margin-left: 90px;
    margin-top: -32px;
}

[data-test-id="QUALITY_SETTINGS_CONTEXT_MENU"] {
    position: fixed;
    margin-left: 250px;
}

.QualitySettingsContextMenu_header__YGH7p,
.QualitySettingsContextMenu_item_option__SSxha,
.l3tE1hAMmBj2aoPPwU08,
.vqAVPWFJlhAOleK_SLk4 {
    color: #fff;
}

.QualitySettingsContextMenu_itemSubTitle__YGtQk {
    color: #fff8;
}